<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>직무스트레스 평가시스템 - admin</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/tui-grid/tui-grid.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sayho-background-skyblue">
        <a class="navbar-brand"><img src="/img/Changjo_LOG.jpg" class="login-logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">사용자 관리</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="changeMenu('a01')">사용자 관리</a>
                        <a class="dropdown-item" href="#" onclick="changeMenu('a02')">회사 관리</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">설문관리</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="changeMenu('b01')">설문 관리</a>
                        <a class="dropdown-item" href="#" onclick="changeMenu('b02')">문항 관리</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">통계관리</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="changeMenu('c01')">답변 현황 조회</a>
                        <a class="dropdown-item" href="#" onclick="changeMenu('c02')">답변 결과 조회</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">관리자</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="changeMenu('admin01')">메뉴 관리</a>
                        <a class="dropdown-item" href="#" onclick="changeMenu('admin02')">화면 레이아웃 관리</a>
                    </div>
                </li>
            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="inp-search-employee" type="search" placeholder="메뉴 검색">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
            -->
        </div>
    </nav>
    <div id="admin-menu-area">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">사용자 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" id="inp-comp-name" placeholder="소속" />
                        <input type="text" class="form-control" id="inp-dept-name" placeholder="부서" />
                        <input type="text" class="form-control" id="inp-user-id" placeholder="ID" />
                        <input type="text" class="form-control" id="inp-user-name" placeholder="성명" />
                        <input type="text" class="form-control" id="inp-user-pw" placeholder="비밀번호" />
                        <input type="text" class="form-control" id="inp-user-email" placeholder="이메일" />
                        <select class="form-select form-control" id="inp-user-div">
                            <option selected>사용자 구분</option>
                            <option value="1">관리자</option>
                            <option value="2">설문대상자</option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="clearUserInput()">입력값 비우기</button>
                    <button type="button" class="btn btn-primary" onclick="addUser()">추가하기</button>
                    <button type="button" class="btn btn-secondary" id="btn-add-modal-close"
                        data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addCompanyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">회사 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" id="inpCOMPANY_ID" placeholder="회사ID(알파벳 대문자1+숫자3)" />
                        <input type="text" class="form-control" id="inpCOMPANY_NAME" placeholder="회사명1" />
                        <input type="text" class="form-control" id="inpCOMPANY_NAME1" placeholder="회사명2" />
                        <input type="text" class="form-control" id="inpDTL_NOTE" placeholder="비고" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="clearCompanyInput()">입력값 비우기</button>
                    <button type="button" class="btn btn-primary" onclick="addCompany()">추가하기</button>
                    <button type="button" class="btn btn-secondary" id="btn-add-modal-close"
                        data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addSurveyModal" tabindex="-1" role="dialog" aria-labelledby="addSurveyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">설문 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" id="inpSRVY_TITL" placeholder="설문제목" />
                        <input type="text" class="form-control" id="inpDTL_NOTE_B01" placeholder="비고" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="clearSurveyInput()">입력값 비우기</button>
                    <button type="button" class="btn btn-primary" onclick="addSurvey()">추가하기</button>
                    <button type="button" class="btn btn-secondary" id="btn-add-survey-modal-close"
                        data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/tui-grid/tui-grid.js"></script>
    <script src="/js/commonLogic.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>