<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>직무스트레스 평가시스템 - admin</title>
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	    <link href="/css/login.css" rel="stylesheet"/>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light sayho-background-skyblue">
        <a class="navbar-brand"><img src="/img/Changjo_LOG.jpg" class="login-logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="changeMenu('a01')">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="changeMenu('b01')">문항관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="changeMenu('c01')">통계관리</a>
            </li>
            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="inp-search-employee" type="search" placeholder="메뉴 검색">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
            -->
        </div>
        </nav>
        <div class="mt-5 p-4 card shadow login-wrapper">
            <img src="/img/Changjo_LOG.jpg" class="login-logo mt-5" />
            <h3 class="text-center mt-3">직무스트레스 평가시스템</h3>
            관리자메뉴
        </div>
        <script src="/js/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
