<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>직무스트레스 평가시스템 - 설문조사</title>
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	    <link href="/css/login.css" rel="stylesheet"/>
        
    </head>
    <body>
        <div class="mt-5 p-4 card shadow login-wrapper">
            <img src="/img/Changjo_LOG.jpg" class="login-logo mt-5" />
            <h3 class="text-center mt-3">직무스트레스 평가시스템</h3>
            <div id="survey-agreement-area">
                <div>
                    개인정보수집 동의 영역
                </div>
                <input type="checkbox"/>
                <button class="btn btn-primary">동의합니다.</button>
                <!-- 개인정보 수집 동의 이력 테이블 필요 -->
                <!-- 정해진 폼에다가 입력값 받아서, 정해진테이블 레이아웃에 인서트 -->
            </div>
        </div>
        <script src="/js/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
